name: Master CI

on:
  push:
    branches:
      - master

env:
  CI: true
  GITHUB_BRANCH: ${{ github.ref }}
  GITHUB_HEAD_REF: ${{ github.head_ref }}
  GITHUB_BASE_REF: ${{ github.base_ref }}
  GITHUB_COMMIT: ${{ github.sha }}

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: nodejs project info
        id: projectinfo
        uses: gregoranders/nodejs-project-info@master
      - name: npm install
        run: |
          npm install
      - name: npm run build
        run: |
          npm run build
      - name: npm test
        run: |
          npm test
      - name: code coverage
        if: matrix.os == 'ubuntu-latest'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./test/coverage/lcov.info
      - name: publish code coverage to code climate
        if: matrix.os == 'ubuntu-latest'
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: npm run test
          coverageLocations: |
            ./test/coverage/lcov.info:lcov
      - name: run codacy-coverage-reporter
        if: matrix.os == 'ubuntu-latest'
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./test/coverage/lcov.info
      - name: create release
        if: matrix.os == 'ubuntu-latest'
        id: createrelease
        uses: gregoranders/nodejs-create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_JSON: ${{ steps.projectinfo.outputs.context }}
        with:
          tag: v${{ steps.projectinfo.outputs.version }}
          name: ${{ steps.projectinfo.outputs.name }} - ${{ steps.projectinfo.outputs.version }}
          body: ${{ steps.projectinfo.outputs.name }} - ${{ steps.projectinfo.outputs.version }} Release
          draft: true
          target: ${{ github.ref }}
